.landing {
  background: url("../images/votebg.jpeg") no-repeat center center fixed; /* Set the background image */
  background-size: cover; /* Cover the entire viewport */
  height: 100vh;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.867); /* Black color overlay with 50% opacity */
  z-index: -1; /* Ensure it's behind the content */
}
.title {
  color: white;
  backdrop-filter: blur(24px) saturate(200%);
  -webkit-backdrop-filter: blur(24px) saturate(200%);
  background-color: rgba(144, 159, 171, 0.48);
  border-radius: 12px;
  width: 50%;
  margin-top: 10%;
  margin-left: 10%;
  padding: 3%;
}

@media (max-width: 768px) {
  .title {
    width: 80%;
    margin-top: 20%;
  }
}
