.container {
  background-color: #f7b500;
  width: 80%;
  height: 100px;
  margin: 0 auto;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

@media (max-width: 768px) {
  .container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: none;
    border-radius: 0%;
  }
}
